@import "tailwindcss";

:root {
  --background: var(--color-primary-color);
  --foreground: var(--color-forth-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Add your custom colors here */
  --color-primary-color: #f6f0e7;
  --color-secondary-color: #c5d89d;
  --color-third-color: #9cab84;
  --color-forth-color: #4a5a2a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-primary-color);
    --foreground: var(--color-forth-color);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
